@font-face {
	font-family: aEmpirial;
	src: url('../fonts/aEmpirial.ttf');
}

@font-face {
	font-family: Impact;
	src: url('../fonts/Impact.ttf');
}

@font-face {
	font-family: Lux;
	src: url('../fonts/Luxury Royale JF Regular.ttf');
}

@font-face {
	font-family: HelveticaThin;
	src: url('../fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
	font-family: HelveticaReg;
	src: url('../fonts/HelveticaNeueLTStd-Hv.otf');
}
