.product-slider-blk {
	margin: 25px 0 50px;
	.product-slider-top-controls {
		.product-slider-tabs {
			.product-slider-tabs-item {
				display: block;
				color: #555555;
				font-size: 15px;
				text-transform: uppercase;
				padding: 20px;
				&:hover {
					background: $main-button-bg-color;
					color: #fff;
				}
				&.active {
					background: $main-button-bg-color;
					color: #fff;
				}
			}
		}
		.product-slider-controls {
			.product-slider-arrow {
				display: block;
				background: #f2f2f2;
				color: #555555;
				font-size: 24px;
				padding: 15px;
				&:hover {
					background: $main-button-bg-color;
					color: #fff;
				}
			}
		}
	}
	.product-slider {
		background: $main-button-bg-color;
		height: 455px;
		padding: 30px 0;
		.product-slider-item {
		width: 220px!important;
		margin: 0 30px;
		.product-slider-item-img-link {
			display: block;
			position: relative;
			.sale-badge {
				position: absolute;
				top: 0;
				left: 0;
				width: 50px;
				height: 50px;
				background:  #4c4c4c;
				.sale-badge-text {
					color: #fff;
					text-transform: uppercase;
					font-size: 10px;
					margin: 3px 0 0 3px;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border: 25px solid transparent;	
					border-right: 25px solid #fff; 
					border-bottom: 25px solid #fff;
				}
			}
			.shop-it {
				display: none;
				position: absolute;
				top: 80px;
				left: 40px;
				width: 137px;
				height: 97px;
				border-radius: 100px;
				background: #3d3d3d;
				text-align: center; 
				color: #fff;
				padding: 40px 0 0;
				font-size: 34px;
				.shop-it-text {
					color: #fff;
					text-transform: uppercase;
					font-size: 10px;
					margin: 5px 0 0;
				}
			}
			&:hover {
				.shop-it {
					display: block;
				} 
			}
		}
		.product-slider-item-description {
			background: $stay-updated-general-light-bg;
			padding: 10px 0;
			text-align: center;
			.product-slider-item-title {
				font-size: 12px;
				text-transform: uppercase;
				color: #373737;
				margin-bottom: 5px;
				display: inline-block;
			}
			.product-slider-item-price {
				font-size: 22px;
				text-transform: uppercase;
				color: #373737;
				margin-bottom: 5px;
			}
			.product-slider-item-add-btn {
			    width: 120px;
			    height: 20px;
			    cursor: pointer;
			    padding-top: 10px;
			    background: #fd926d;
			    border-bottom: 2px solid #dd6b44;
			    text-align: center;
			    color: #fff;
			    text-transform: uppercase;
			    font-family: HelveticaThin;
			    font-size: 12px;
			    display: block;
			    margin: 0 auto;
			}
		}
	}
}
	.load-more-mob {
		display: none;
	    width: 200px;
	    height: 30px;
	    background: #000;
	    text-align: center;
	    font-size: 20px;
	    color: #fff;
	    text-transform: uppercase;
	    padding: 10px 0 0 0;
	    margin: 10px auto;
	}
}

@media screen and (min-width: 640px) and (max-width: 759px) {
	.product-slider-controls {
		display: none;
	}
	.product-slider-blk {
		.product-slider-top-controls {
			.product-slider-tabs {
				width: 100%;
				.product-slider-tabs-item {
					display: none;
					position: relative;
					&.active {
						display: block;
						width: 100%;
						background: #f4845d;
						&:after {
							content: '\f0d7';
							font-family: FontAwesome;
							color: #fff;
							font-size: 20px;
							display: block;
							position: absolute;
							right: 20px;
							top: 18px;
						}
					}
				}
			}
		}
		.product-slider {
			background: #fd926d;
			.product-slider-item {
				display: none!important;
			}
			.product-slider-item:nth-child(1) {
				display: block!important;
			}
			.product-slider-item:nth-child(2) {
				display: block!important;
			}
		}
		.slick-track[style] {
		    width: 100% !important;
		    transform: none !important;
		    justify-content: space-around;
    		display: flex;
		}
		.load-more-mob {
			display: block;
		}
	}
}

