body {
	font-family: $primary-font;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
}
.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
