body {
	font-family: $primary-font;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
}
.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

@media screen and (min-width: 760px) and (max-width: 970px) {
	.wrapper {
		width: 730px;
		padding: 0 15px;
	}
}
@media screen and (min-width: 640px) and (max-width: 759px) {

}