$fa-font-path: "../fonts" !default;
$primary-font: Arial, sans-serif;
$top-header-gray: #444444;
$top-header-lightgray: #d6d6d6;
$fav-brands-color: #d8d8d8;
$fav-brands-title-color: #414141;
$simple-text-color: #999999;
$stay-updated-general-dark-bg: #ededed; 
$stay-updated-general-light-bg: #f7f7f7;
$stay-updated-main-color: #6b6b6b;
$main-button-bg-color: #fd926d;
$main-button-border-color: #dd6b44;
$footer-text-color: #544f4d;



